*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 91.7%;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    width: 100%;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.09);
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__navigation {
    display: flex;
    width: 58%;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.menu__item {
    list-style-type: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.menu__item a {
    text-decoration: none;
    color: #6B7073;
}
.search__container {
    display: flex;
    justify-content: space-between;
    width: 268px;
    box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.17);
    border-radius: 88px;
    padding: 12px 14px;
}

.search__input {
    background-color: rgba(0, 0, 0, 0);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #C4C4C4;
}

.search__btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}


.menu__burger {
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 33px;
    height: 24px;
    font-size: 0;
    position: relative;
    text-align: end;
}

.menu__burger span {
    display: block;
    position: absolute;
    background-color: #CD3b31;
    height: 4px;
    width: 16px;
    top: 10px;
    left: 16px;
    right: 0;
    border-radius: 1px;
    margin: 0 auto;
    transition: background 0s 0.3s;
}

.menu__burger span:after, .menu__burger span:before {
    position: absolute;
    display: block;
    height: 4px;
    width: 33px;
    left:-16px;
    background-color: #CD3b31;
    content: '';
    transition-duration: 0s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menu__burger span::after {
    top: -10px;
}

.menu__burger span::before {
    bottom: -10px;
}

.menu__burger.close span{
    background: none;
}

.menu__burger.close span::before {
    bottom: 0px;
    transform: rotate(-45deg);
}

.menu__burger.close span::after {
    top: 0px;
    transform: rotate(45deg);
}

.menu {
    display: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
}

.menu_main__nav {
    border-right: 1px solid #C4C4C4;
    padding-right: 71px;
}

.menu_main__nav ul {
    padding-top: 31px;
    list-style-type: none;
}

.menu_main__nav ul li {
    padding-bottom: 48px;
    
}

.menu_main__nav ul li a {
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #151516;
}

.menu_main__nav ul li a:hover {
    color: #CD3b31;
}
.menu_shops__nav  {
    width: 32.2%;
}

.menu_shops__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20%;
}
.menu__nav {
    margin-top: 19px;
}
.menu__nav ul {
    list-style-type: none;
}

.menu__nav ul li a{
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #151516;
}

.menu__nav ul li a:hover{
    color: #CD3b31;
}
.menu_restaurants__nav {
}
.menu_services__nav {
}
.menu_corn__nav {
}


.active_page {
    padding-top: 29px;
    padding-bottom: 20px;
}

.active_page a {
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.active_page a:first-child {
    color: #C4C4C4;
}

.active_page a:last-child {
    color: #6B7073;
}

.main {
    display: flex;
    justify-content: space-between;
}
.main__image {
    width: 65%;
    height: fit-content;
}
.main_description {
    margin-left: 1.6%;
}
.main__title {
    font-style: normal;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #151516;
}

.main__text {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 24px;
    color: #000000;
}

.download__container {
    display: flex;
    text-decoration: none;
    color: #151516;
    margin-top: 35px;
    width: 262px;
    justify-content: space-between;
}

.download__container p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

.main__subtitle {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 67px;
    color: #151516;
}

.main__subtitle__items {
    margin-top: 34px;
    position: relative;
    right: -18px;
}

.main__subtitle__items li {
    color: #CD3B31;
    margin-right: 30px;
    margin-bottom: 17px;
}

.main__subtitle__items li span {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151516;
}

.main__postscript {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.tenants {
    margin-top: 80px;
}

.tenants__title {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #151516;
}

.tenants__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.tenants__items {
    margin-top: 0;
    right: -40px;
}

.wrapper{
	max-height: 192px;
	width: 57%;
	max-width: 1012px;
	display: flex;
	justify-content:center;
	align-items: center;
}
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slider {
	position: relative;
	padding-right: 46px;
}

.slider:last-child{
	padding-right: 0px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 30px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 114%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 41px;
	height: 60px;
    border: none;
}
.slider .slick-arrow.slick-prev{
	left: 34%;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 34%;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: rgba(21, 21, 22, 1);
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid rgba(21, 21, 22, 1);
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}


.description {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 91px;
    gap: 65px 30px;
    width: 100%;

}

#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 3;
    
 }
 #item-1 {
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 7;
    
 }
 #item-2 {
 
    grid-row-start: 1;
    grid-column-start: 7;
 
    grid-row-end: 4;
    grid-column-end: 12;
    
 }
 #item-3 {
 
    grid-row-start: 4;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 4;
    
 }
 #item-4 {
 
    grid-row-start: 4;
    grid-column-start: 4;
 
    grid-row-end: 6;
    grid-column-end: 8;
    
 }
 #item-5 {
 
    grid-row-start: 4;
    grid-column-start: 8;
 
    grid-row-end: 6;
    grid-column-end: 12;
    
 }

.description__text {

}
.description__card {
    margin-top: 39px;
}

.description__card p {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6B7073;
}

.description__card h3 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #151516;
    margin-top: 17px;
}

.footer {
    box-shadow: 0px 1px 44px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding-top: 41px;
    padding-bottom: 40px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_producs__nav {
}

.footer_producs__nav ul li, .footer_about__nav ul li {
    list-style-type: none;
    margin-bottom: 32px;
}

.footer_producs__nav ul li:last-child, .footer_about__nav ul li:last-child {
    margin-bottom: 0px;
}

.footer_about__nav {
    width: 36.1%;
}

.footer_about__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.footer_about__nav ul li a, .footer_producs__nav ul li a {
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #151516;
    transition: 0.2s;
}

.footer_about__nav ul li a:hover, .footer_producs__nav ul li a:hover{
    color: #CD3B31;
}


.footer__search {
}
.search__container {
}
.search__input {
}
.search__btn {
}
.social {
    margin-top: 54px;
}

.social a:first-child {
    margin-right: 21px;
}
.contacts {
    width: 8.6%;
}
.contacts p, .contacts p a {
    margin-bottom: 21px; 
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #151516;
    text-decoration: none;
}






